#content {
    margin-top: 48px;
}
.control-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100px;
}
#user-nav {
    left: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100px;
}
.pagination{
    padding: 10px 20px;
    position: relative;
    z-index: 5;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination:after {
    content: '';
    display: block;
    position: absolute;
    top: -10%;
    left: -0%;
    right: 10%;
    height: 110%;
    width: 130%;
    background-color: #d0e26c;
    z-index: -5;
}
.page-nav:after {
    background_color: #fff;
}
.pagination li, .pagination li a {
    list-style: none;
    display: inline-block;
    padding: 0 5px 0 8px;
    text-decoration: none;
    font-family: "PT_Sans", sans-serif;
    font-size: 1.7rem;
    color: black;
    font-weight: bold;
    line-height: 1.7rem;
    text-align: center;
}
.pagination li:first-child {
    border: none;
}
.table thead tr th:nth-child(4) {
    width: 400px;
}
.sidebar-item__title_block{
    text-decoration: none;
}
.header-container{
    width: 140px;
}
.dropdown-menu{
    list-style-type: none;
    display: flex;
}
.authorization-block{
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dropdown{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}
#addtocartForm{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}
.table_cart{
    width: 840px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.table_cart-title{
    height: 40px;
    width: 100%;
}
.cart_menu{
    background: #FE980F;
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
}
.cart_image, .cart_image-photo{
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart_name {
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart_price {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.total-result, .cart_quantity  {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart_delete-title{
    width: 30px;
}
.table_cart-items{
    width: 100%;
    height: 100%;
}
.cart-product{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #e5ece7;
    margin-bottom: 30px;
}
.cart_total {
    width: 120px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart_image-photo_item{
    width: 100%;
    height: 100%;
}
.cart_quantity_input {
    color: #696763;
    float: left;
    font-size: 16px;
    text-align: center;
    font-family: 'Roboto',sans-serif;
    height: 28px;
    width: 35px;
    border: none;
}
.cart_name-text a{
    font-size: 20px;
    font-family: "PT_Sans", sans-serif;
    color: black;
    font-weight: bold;
    line-height: 22px;
    text-decoration: none;
}
.cart_price-text {
    font-size: 15px;
    font-family: "PT_Sans", sans-serif;
    color: black;
    font-weight: bold;
    line-height: 17px;
}
.cart_total_price {
    font-size: 15px;
    font-family: "PT_Sans", sans-serif;
    color: black;
    font-weight: bold;
    line-height: 17px;
    margin: 0;
}
.cart_quantity-input_product{
    color: #696763;
    float: left;
    font-size: 16px;
    text-align: center;
    font-family: 'Roboto',sans-serif;
    height: 28px;
    width: 35px;
    border: none;
}
.button_cart{
    display: inline-block;
    border-radius: 3px;
    background-color: #5096d9;
    max-width: 145px;
    width: 100%;
    height: 31px;
    font-size: 1rem;
    font-family: "PT_Sans", sans-serif;
    color: #fefefe;
    line-height: 31px;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
    border: none;
}
.cart_delete a {
    background: #F0F0E9;
    color: #FFFFFF;
    padding: 5px 7px;
    font-size: 16px;
}
.cart_delete a:hover {
    background: #FE980F;
}
.cart_quantity_button a{
    background: #F0F0E9;
    color: #696763;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    height: 30px;
    overflow: hidden;
    text-align: center;
    width: 35px;
    float: left;
    transition: 300ms;
    text-decoration: none;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-block {

}
button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}
.total_amount-result{
    display: none;
}
.orders_none-product{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product_details-button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #d0e26c;
}
.checkout_block-info{
    text-align: center;
    font-family: 'Roboto',sans-serif;
    font-size: 26px;
    margin: 40px 0;
}
.checkout_block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}
.checkout_block-name{
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    color: #1b4b72;
}
.checkout_block-name span{
    font-family: 'Roboto',sans-serif;
    font-size: 22px;
    color: #d25c2d;
}
.message_thanks-block{
    height: 300px;
}
.message_thanks{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.message_thanks-title{
    font-family: 'Roboto',sans-serif;
    font-size: 30px;
    color: #d25c2d;
}
.order_table_cart-items{
    width: 100%;
    height: 100%;
}
.order_cart_menu{
    background: #FE980F;
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
}
.order_cart-product{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 70px;
    background: #e5ece7;
    margin-bottom: 5px;
}
.order_number{
    width: 150px;
    text-align: center;
}
.order_number-text{
    color: #000;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.order_name-link{
    color: #000;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-decoration: none;
}
.order_name{
    width: 300px;
    text-align: center;
}
.order_total{
    width: 200px;
    text-align: center;
}
.order_date{
    width: 200px;
    text-align: center;
}
.order_total-text{
    color: #000;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.card_form_popup {
    width: 600px;
    height: 500px;
    position: relative;
    margin: 0 auto;
    background: #d0e26c;
    border-radius: 5px;
}
.card_title_popup_h2 {
    font-size: 1.42rem;
    font-family: "PT_Sans", sans-serif;
    color: black;
    font-weight: bold;
    line-height: 1.6rem;
    margin: 0;
    padding: 20px;
    text-align: center;
}
.popup_forms {
    width: 100%;
    height: 70%;
    margin: 0 auto;
}
.comments_form_popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.comments_form_label_popup {
    width: 100%;
    margin: 15px auto;
    display: flex;
    justify-content: center;
}
.comments_form-input_popup {
    width: 85%;
    border: none;
    border-radius: 3px;
    height: 25px;
    padding: 5px;
}
.comments_send_popup {
    margin: 20px auto;
}
.comments_send_label_popup {
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: "PT_Sans", sans-serif;
    color: black;
    background: #4c5f14;
    font-weight: bold;
    line-height: 1.6rem;
    border: none;
    border-radius: 20px;
}
.application_button{
    display: inline-block;
    border-radius: 3px;
    background-color: #5096d9;
    max-width: 145px;
    width: 100%;
    height: 31px;
    font-size: 1rem;
    font-family: "PT_Sans", sans-serif;
    color: #fefefe;
    line-height: 31px;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
}
